button.botao {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #C33633;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 3px solid #C33633;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #C33633;
    margin-bottom: 2rem;
  }
  
  button.botao:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #C33633;
  }
  
  button.botao:active {
    transform: scale(0.9);
  }

  .finalizar{
    width: 100%;
  }


  @media screen and (max-width: 767px) {
    .finalizar{
        text-align: center;
    }
  }