.formulario{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 55px 0;
    transition: 1s;
    background-color: var(--secundary-color);
}
.error-message {
    color: var(--color-error);
    font-size: 14px;

}

.form-cadastro{
    transform: translateX(-100%);
    z-index: -1;
    opacity: 0;
}

.login_container.move .form-login{
    transform: translateX(100%);
    z-index: -1;
    opacity: 0;
}

.login_container.move .form-cadastro{
    transform: translateX(0%);
    z-index: 0;
    opacity: 1;
}


@media (max-width: 768px){

    
    .formulario{
        width: 100%;
        justify-content: space-evenly;
    }

    .form-cadastro{
        position: absolute;
        transform: translateX(100%);
    }

    .login_container.move .form-cadastro{
        transform: translateX(0%);
    }

    .imagem{
        display: none;
    }

}