.login_container{
    position: relative;
    background-color: #191919;
    height: 760px;
    width: 1450px;
    border-radius: 12px;
    box-shadow: 0 14px 20px black;
    overflow: hidden;
}


@media (max-width: 768px){
     .login_container{
        width: 100vw;
        height: 100vh;
        box-shadow: none;
     }
}