.foto_perfil {
    cursor: pointer;
    position: relative;
    width: 250px;
    height: 200px
}
.foto{
    cursor: pointer;
    width: 200px;
    height: 200px;
}

.trocar_foto_btn {
    position: absolute;
    bottom: 70%;
    left: 60%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    display: none;
}

.foto_perfil:hover .trocar_foto_btn {
    display: block;
}

#upload_form {
    display: none;
}