main{
    padding-top: 5rem;
}

form {
    max-width: 100%;
}

table{
    width: 100%;
}



input[type="checkbox"] {
    margin-right: 10px;
    width: 1.6rem;
    height: 1.6rem;
}

button.adicionar{
    background-color: #C33633;
    color: #fff;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    margin: 2rem;
}

button.quantidade{
    background-color: #C33633;
    border: none;
    color: #fff;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    gap: 0;
}

p.quantidade{
    font-size: 1rem;
}

tr{
    align-items: center;
}

td.botoes{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2rem;
    display: flex;
    flex-direction: row;
}

button:disabled {
    background-color: #121212;
    cursor: not-allowed;
}

input[type="number"] {
    width: 50px;
    padding: 5px;
}

h1.nomePizza{
    font-size: 5rem;
    color: #C33633;
    margin: 2rem;
}

p {
    font-weight: bold;
    font-size: 18px;
    margin: 1rem;
}

td p{
    
    font-size: 3rem;
    margin: 1rem;
}

.titulo{
    font-size: 5rem;
}

.personalizar{
    margin: 1.5rem;
}

.options{
    margin: 2rem 19rem 5rem 19rem;
    border: 2px solid #C33633;
    border-radius: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #121212;
    padding-top: 3rem;
    padding-bottom: 3rem;
}


body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.radio-container {
    width: 100%;
    display: flex;
  }
  
tr.pedacos{
    width: 100%;
    text-align: center;

}

tr.pedacos h2{
    color: #C33633;
    font-size: 3.5rem ;
    margin-bottom:3rem;
}

td.botoess{
    padding: 10rem;
    width: 100%;
    align-items: center;
    
}


  .column {
    flex: 1;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.radio {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 0.5rem;
  }

  .radio p{
    font-size: 2rem;
    margin: 0;
  }

  .radio label{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  
  .radio input[type="radio"] {
    position: absolute;
    opacity: 0;
  }
  
  .radio input[type="radio"] + .radio-label:before {
    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid darken(#f4f4f4, 25%);
    display: inline-block;
    width: 2em;
    height: 2em;
    position: relative;
    top: -0.2em;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
  }
  
  .radio input[type="radio"]:checked + .radio-label:before {
    background-color: #C33633;
    box-shadow: inset 0 0 0 4px #f4f4f4;
  }
  
  .radio input[type="radio"]:focus + .radio-label:before {
    outline: none;
    border-color: #3197EE;
  }
  
  .radio input[type="radio"]:disabled + .radio-label:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: darken(#f4f4f4, 25%);
    background: darken(#f4f4f4, 25%);
  }
  
  .radio-label:empty:before {
    margin-right: 0;
  }


@media  (max-width: 720px) {

    .options{
        margin: 0;
    }

    td p{
        font-size: 2rem;
    }

    td.botoes{
        margin: 1rem;
    }

    h1.nomePizza{
        font-size: 3rem;
    }

    td.botoess{
        padding: 4rem 2rem 2rem 2rem;
    }

    tr.pedacos h2{

        font-size: 2rem;
    }
}

