.redes_icon{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25%;
    font-size: 1.3rem;
    transition: .3s;
    border: 3px solid var(--primary-color);
    color: var(--primary-color);

    background-color: transparent;
}

.redes_icon:hover{
    transform: translateY(-5%);
    background-color: var(--primary-color);
    color: var(--color-light);
}