.form_title{
    font-size: 3rem;
    font-weight: 400;
    color: var(--color-light);
}

.form_text{
    color: var(--color-light);
}

p .form_link {
    color: var(--primary-color);
    cursor: pointer;
  }
  