
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  background-color: #4a4a4a;
}

.container {
  box-shadow: 15px 20px 10px rgba(19, 19, 19, 0.411);
  width: 650px;
  background-color: #1c1c1c;
  border-radius: 8px;
  padding: 10px;
  height: 600px;
}

.content{
    margin-top: 20px;
}

.accordion_header {
  padding: 13px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.accordion_content {
  margin-left: 50px;
  margin-right: 15px;
  overflow: hidden;
  height: 0;
  transition: all .5s ease;
  font-size: 14px;

}

.active {
  padding-bottom: 10px;
}


input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 5px; 
    outline: none;
    cursor: pointer;
    background-color: white;
    margin-right: 15px;
    margin-top: 6px;
}

input[type="radio"]:checked {
    background-color: #d9534f; 
}


.panel {
    background-color: #4a423d; 
    border-radius: 10px; 
    padding: 5px; 
    margin-bottom: 10px; 
    width: 300px;
    margin-top: 20px;
    height: 115px;
}

.panel label{
    margin-left: 50px;
    top: 10px;

}


.red-button {
    background-color: #FF0000; 
    color: white; 
    border: none; 
    padding: 10px 80px; 
    border-radius: 5px; 
    cursor: pointer; 
    position: absolute; 
    margin-top: 500px; 
    z-index: 1;
}


.red-button:hover {
    background-color: #FF3333; 
}

.accordion_item {
    border-radius: 5px;
    margin-bottom: 15px; 
    
}

.accordion_item hr{
    border-bottom: 1px solid #ccc;
    width: 610px;
    opacity: 70%;
    margin-left: 5px;
    
}


.accordion_item:last-child {
    margin-bottom: 0;
}

.title {
    font-size: 20px;
    color: #ffff;
}

.bullet {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 2px solid #ffff;
    border-radius: 50%;
    text-align: center;
    line-height: 20px; 
    color: #ffff;
}


.accordion_item {
    position: relative;
}

.accordion_content {
    position: relative;
}

.vertical-line {
    position: absolute;
    width: 8px; 
    background-color: red; 
    height: 90px; 
    border-radius: 3px;
    left: 20px; 
    top: 30px;
}
