@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
lord-icon{
   height: auto;
   transition: all .2 ease-in-out;
}
body{
    background: #191919;
}
#show-button{
  padding: .5rem;
  background: brown;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
.btns{
  width: 20%;
  display: flex;
  gap: 1rem;
}
main{
    padding:2rem 5rem;

}
.title{
    height: 10rem;
    font-size: 2rem;
    position: relative;
    display: flex;
    align-items: center;
}
.title > a{
    font-size: 15px;
    display: flex;
    align-items: center;
    background: brown;
    padding: 0 .2rem 0 .5rem;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: -3em;
    gap: .2rem;
    transition: all.2s ease-in-out;
}
.title > a:hover{
    background: rgb(149, 36, 36);
}
.title > a:hover i{
    transform: translateX(-.1rem);
    transition: all .2s ease-in;
}

.pagamento{
    border-left: 2px solid brown;
    padding:2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.pagamento > .cep{
    display: flex;
    gap: 2rem;
}
.input_cep {
    display: grid;
    place-content:center ;
}
.input_cep > input{
    padding: .5rem 1rem;
    border-radius: 10px;
    background: #3e3636;
    text-align: center;
}
.input_cep > input:focus{
    border: #191919 1px solid;
    background:#322c2c;
    color: aliceblue;
    transition: all .2s ease-in-out;
}
#cep-result{
    padding: .5rem 1rem;
    background: #3e3636;
    border-radius: 10px;
    transition: all .2s ease-in-out;
    overflow-x: hidden;
}

.pagamento > .divisao{
    width: 100%;
    margin: 5rem 0;
   display: flex;
   align-items: center;
   justify-content: center;
    
    position: relative;
}
.divisao::before{
    content: '';
    width: 100%;
    height: .1rem;
    background: #524747;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
}
.divisao > p{
    color:  #524747;
    font-weight: 500;
    background: #191919;
    width: auto;
    padding: .5rem;
    z-index: 1;
}




/* modals */

#custom-dialog {
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s;
    z-index: 1;
    background: #322c2c;
    padding: 20px;
    width: 500px;
    border-radius: 10px;
    position: relative;
}


#custom-dialog > .info{
    width: 100%;
    background: brown;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
}

#close-button{
    background: brown;
    padding: .5rem;
    display: flex;
    align-items: center;
    border-radius: 5rem;
    margin-bottom: 2rem;
}
::backdrop{
    backdrop-filter: blur(20px);
}
  
  #custom-dialog.show {
    opacity: 1;
  }
  

/* Estilos gerais */
/* #custom-dialog {
    background: #322c2c;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
  /* } */ */
  
  .form-group {
    margin-bottom: 10px;
    width: auto;
    
  }
  
  label {
    display: block;
    margin-bottom: 5px;

  }
  
  .input {
    width: 80%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background: #524747;
    color: #fff;
    transition: all.2s ease-in-out;
  }
  .cvv{
    width: 3rem;
  }

  #expiry-date{
    width: 3rem;
  }
  input:focus {
    background: #322c2c;
    transition: all.2s ease-in-out;
  }
  
  .confirmacao {
    text-align: center;
    margin-top:1rem;
  }
  
  .info p {
    background: #524747;
    padding: 5px;
    border-radius: 5px;
  }
  
  .enviar{
    background: brown;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 1rem;
    width: 100%;
  }
  
.enviar:hover {
    background: #322c2c;
    
  }
  
  #close-button {
    background: brown;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  #close-button:hover {
    background: #322c2c;
  }
  
  #checkout-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  .inline-inputs {
    display: flex;
    justify-content: space-between;
  }
  
  .inline-inputs > div {
    width: 48%; /* Para criar algum espaço entre os campos */
  }
  